@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";

@source '../node_modules/heroui-native/lib';

@layer theme {
  :root {
    @variant light {
      --radius: 0.5rem;
    }

    @variant dark {
      --radius: 0.5rem;
    }
  }
}

@theme inline static {
  /* Rainbow Colors */
  --rainbow-lime: #5bdd6a;
  --rainbow-light-green: #35db80;
  --rainbow-teal: #20d6be;
  --rainbow-cyan: #26d1d1;
  --rainbow-light-blue: #11cdf2;
  --rainbow-sky-blue: #40b6ff;
  --rainbow-blue: #638dff;
  --rainbow-indigo: #7979f7;
  --rainbow-deep-purple: #a17df5;
  --rainbow-purple: #ce7af0;
  --rainbow-magenta: #ff70b0;
  --rainbow-red: #ff697a;
  --rainbow-orange: #ff875c;
  --rainbow-amber: #ffd86b;
  --rainbow-yellow: #fdff78;
  --rainbow-navy: #98a0b3;

  --color-rainbow-lime: var(--rainbow-lime);
  --color-rainbow-light-green: var(--rainbow-light-green);
  --color-rainbow-teal: var(--rainbow-teal);
  --color-rainbow-cyan: var(--rainbow-cyan);
  --color-rainbow-light-blue: var(--rainbow-light-blue);
  --color-rainbow-sky-blue: var(--rainbow-sky-blue);
  --color-rainbow-blue: var(--rainbow-blue);
  --color-rainbow-indigo: var(--rainbow-indigo);
  --color-rainbow-deep-purple: var(--rainbow-deep-purple);
  --color-rainbow-purple: var(--rainbow-purple);
  --color-rainbow-magenta: var(--rainbow-magenta);
  --color-rainbow-red: var(--rainbow-red);
  --color-rainbow-orange: var(--rainbow-orange);
  --color-rainbow-amber: var(--rainbow-amber);
  --color-rainbow-yellow: var(--rainbow-yellow);
  --color-rainbow-navy: var(--rainbow-navy);
}
